.form-container {
  max-width: 300px; /* Aumenta el ancho máximo según tus necesidades */
  margin: 0 auto;
  display: flex; /* Agregado para flexibilidad en el diseño */
  flex-direction: row; /* Cambiado a 'row' para diseño horizontal */
  align-items: center; /* Alinea los elementos al centro verticalmente */
}

.form-container h2 {
  margin-bottom: 20px;
}

.form-container label {
  display: inline-block; /* Cambia a 'block' si se desea un diseño vertical */
  margin-bottom: 10px;
  font-weight: bold;
  width: 150px; /* Ancho fijo para las etiquetas */
}

.form-container input,
.form-container select,
.form-container textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  width: 100%; /* Opcional: Ajusta el ancho de los campos de entrada */
}

.form-container textarea {
  resize: vertical; /* Permite ajustar la altura verticalmente */
}

.form-container .submit-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.form-container .submit-button:hover {
  background-color: #45a049;
}

.error-message {
  font-size: 20px;
  color: #ff0113;
}

.backBtn {
  border: none;
  background-color: darkblue;
  border-radius: 5px;
  font-size: 16px;
  position: absolute;
  top: 75px;
  right: 15px;
}

.link {
  text-decoration: none;
  color: yellow;
}


